#dataset
dataset.user.filepath=/
dataset.listened_tracks.filepath=/

#Noop
noop.enabled=true
noop.factory=org.yottabase.lastfm.noop.NoopDriverFactory

#Voltdb
voltdb.enabled=false
voltdb.factory=org.yottabase.lastfm.voltdb.VoltdbDriverFactory
voltdb.host=localhost
voltdb.username=username
voltdb.password=password

#Mongodb
mongodb.enabled=false
mongodb.factory=org.yottabase.lastfm.mongodb.MongodbDriverFactory
mongodb.host=localhost
mongodb.username=username
mongodb.password=password

#Orientdb
orientdb.enabled=false
orientdb.factory=org.yottabase.lastfm.orientdb.OrientdbDriverFactory
orientdb.host=localhost
orientdb.username=username
orientdb.password=password