#dataset
dataset.user.filepath=/home/
dataset.listened_tracks.filepath=/home/

#output.type=console
output.type=filesystem
output.folder=/tmp

#general
supported_adapters=noop,voltdb,mongodb,orientdb

#Noop
noop.enabled=true
noop.factory=org.yottabase.lastfm.adapter.noop.NoopAdapterFactory

#Voltdb
voltdb.enabled=false
voltdb.factory=org.yottabase.lastfm.adapter.voltdb.VoltDBAdapterFactory
voltdb.host=localhost
voltdb.username=username
voltdb.password=password
voltdb.async_mode=false
voltdb.procedure=/home/voltdbProcedure.jar

#Mongodb
mongodb.enabled=false
mongodb.factory=org.yottabase.lastfm.adapter.mongodb.MongoDBAdapterFactory
mongodb.host=localhost
mongodb.username=username
mongodb.password=password

#Orientdb
orientdb.enabled=false
orientdb.factory=org.yottabase.lastfm.adapter.orientdb.OrientDBAdapterFactory
orientdb.host=localhost
orientdb.storage=plocal
orientdb.db_directory=/home/user
orientdb.username=username
orientdb.password=password